.env
vendor/
bootstrap/cache/*
!bootstrap/cache/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep

# uploaded documents and other runtime files
storage/app/*
!storage/app/.gitkeep
!storage/app/private/
storage/app/private/*
!storage/app/private/.gitkeep
.phpunit.cache/
.phpunit.result.cache
